# Env
NODE_ENV = Complete with de nodejs environment

# Port
PORT = Complete with port

# Log 
LOG_LEVEL = Complete with the log level

# Database connection
DATABASE_URL = Complete with the url Database connection